body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: inherit; 
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input, select, button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    color: #000000; 
}

.dark-mode {
    background-color: #333;
    color: #f9f9f9;
}

.dark-mode h1, 
.dark-mode th, 
.dark-mode td {
    color: #000000; 
}

.dark-mode table {
    border-color: #000000;
}

.dark-mode th, .dark-mode td {
    border-color: #000000;
}
